/* CSS */

body{
     background-color: #FCFFA2;
     color: black;
     margin: 0;
  
   font-family: "Georgia", Times, serif;
} 

h1 {
  text-align: center;
  color: green;
  text-shadow: -2px 1px white;
}


h2 {
  color: purple;
}

h3 {
  color: red;
}

h4 {
  color: #848100;
}

b { 
  color: purple;
 }

i {
  color: red;
}

p {
  color: black;
}

figcaption {
  color: #D58E39;
  text-align: center;
}

#nav {

  text-align: center;
  border: 3px solid green;
  
}

#Copyright {

  text-align: center;
  color: blue;
  
  width: 1000px;
  border: 1px solid green;
  align: center;
  
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

img {
  border: 5px solid #878B00;
}

#NOVA {
  color: brown
}

aside {
  color: orange;
  text-align: left; 
}

#Commissions{
  
    text-align: center;
  
}

#explanationa{
  
  color: red;
  text-align: center
  
}

#explanationb{
  
  color: #704511;
  text-align: center
  
}

#explanationc{
  
  color: #17641E;
  text-align: center
  
}

#explanation {

  text-align: left;
  color: red;
  
}
